<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
{% block content %}
<h1>一覧</h1>
<table class="table table-striped">
  <thead>
      <tr>
    <th>タイトル</th>
    <th>著者</th>
    <th>出版社</th>
    <th>ISBN</th>
      </tr>
  </thead>
  <tbody>
      {% for book in books %}
      <tr>
          <td>{{ book[0] }}</td>
          <td>{{ book[1] }}</td>
          <td>{{ book[2] }}</td>
          <td>{{ book[3] }}</td>
      </tr>
      {% endfor %}
  </tbody>
</table>
{% endblock %}

</body>
</html>